<h2>Add Products</h2>
<div class="span6 offset3">
<%= form_for(@ad_post) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
   <div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%# <%= f.collection_select :category_id, Category.all, :id, :title,:class=>"span6 chzn- select",:size => "1x10",:prompt => "Select a Category" %>
   </div>
   	 <%= f.file_field :photo %>

  <div >
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x10" %>
  </div>
<p>  
    <%= f.submit "ADD" ,class: "btn btn-primary btn-large" %>
</p>  
</div>
<% end %>
</div>
