<h2>Add SubCategory</h2>
<div class="span6 offset3">
<%= form_for(@sub_category) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
     <%= f.label :description %><br />
     <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="actions">
    <%= f.submit "ADD" ,class: "btn btn-primary btn-large" %>
  </div>
<% end %>
</div>
