<div class="row">
<aside class="span4">
<%= link_to 'Add Category', new_category_path ,class: "btn btn-large btn-primary" %>	
</aside>
<table>
  <tr>
    <th>Category</th>        
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>
