<h2>Add Item</h2>
<div class="span6 offset3">
<%= form_for(@product , :html => { :multipart => true }) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
 <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
   <div class="field">
  <%= f.label :Category %><br/>
  <%= f.collection_select :category_id, Category.all, :id, :title,:class=>"span6 chzn- select",:size => "1x10",:prompt => "Select a Category" %>
   </div>
   <%= f.label :Picture %>
   <%= f.file_field :pic %></p>

  <div>
    <%= f.label :content %><br />
    <%= f.text_area :content, :size => "30x10" %>
  </div>
  
    <%= f.submit "ADD" ,class: "btn btn-primary btn-large" %>
  </div>
<% end %>
</div>
