<div class="row span4">
Name :<%=(@product.title) %><br/><br/>
Our Price :<%= (@product.price) %><br/><br/>
MRP :<%= (@product.mrp) %><br/><br/>
QUANTITY :<%= (@product.quantity) %><%=(@product.units) %><br/><br/>
Description :<%= simple_format h(@product.content) %>

 <% unless @product.sub_category.nil? %>
<p>
  <strong>Sub Category:</strong>
  <%= link_to h(@product.sub_category.title), @product.sub_category %>
</p>
 <% end %>
image_tag(post.picture_url, :alt => post.short_name)

<p>
  <%= link_to "Edit", edit_product_path(@product) %> 
  <%= link_to "Destroy", @product, :confirm => 'Are you sure?', :method => :delete %> 
  <%= link_to "View All", products_path %>
</p>
</div>
<aside>
<%= image_tag @product.pic.url(:large) %><br/>
</aside>
